---
---
<!DOCTYPE html>
<html>

<head>

    <meta content="nosniff" http-equiv="X-Content-Type-Options">
    <meta conten="SAMEORIGIN" http-equiv="X-Frame-Options">
    <meta content="1" http-equiv="X-XSS-Protection">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link href="/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
    <link href="/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
    <link href="/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
    <link href="/site.webmanifest" rel="manifest">
    <link color="#5bbad5" href="/safari-pinned-tab.svg" rel="mask-icon">
    <meta content="#da532c" name="msapplication-TileColor">
    <meta content="#ffffff" name="theme-color">
    <link href="/assets/css/reveal/reset.css" rel="stylesheet">
    <link href="/assets/css/reveal/reveal.css" rel="stylesheet">
    <link href="/assets/css/reveal/theme/simple.css" id="theme" rel="stylesheet">
    <link href="/assets/css/reveal/monokai.min.css" rel="stylesheet">
    <link href="/assets/css/reveal/footer.css" rel="stylesheet">
    {% include gtag.html %}
    {% seo %}
</head>

<body>
    <div class="reveal">
        <div class="slides">
            <section>
                <h3>{{page.slideshow_title}}</h3>
                <h4>{{page.author}}</h4>
                <h5>{{page.author_title}}</h5>
            </section>
            {{ content }}
            <section>
                <h2>Thank You</h2>
            </section>
        </div>
        <div class="footer">
            <img src="/assets/img/logo.png">
        </div>
    </div>
    <script src="/assets/js/reveal/reveal.js"></script>
    <script src="/assets/js/reveal/plugin/highlight/highlight.js"></script>
    <script src="/assets/js/reveal/plugin/math/math.js"></script>
    <script src="/assets/js/reveal/plugin/notes/notes.js"></script>
    <script src="/assets/js/reveal/plugin/zoom/zoom.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/TareqK/reveal-control@0.0.2/dist/reveal-control.min.js"></script>
    <script>
        Reveal.initialize({
            controls: true,
            progress: true,
            history: true,
            center: true,
            touch: true,
            transition: 'slide', // none/fade/slide/convex/concave/zoom
            hash: true,
            revealControl: {
                url: "wss://reveal-control.kisoft.me/reveal-control"
            },
            plugins: [RevealHighlight, RevealMath.KaTeX, RevealNotes, RevealZoom, RevealControl]
        });
    </script>
</body>

</html>